<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[%= whore.name %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
    <article id="whore">
        <img src="http://placehold.it/350x150" alt="[%= whore.name %]" />
        <h1>[%= whore.name %]</h1>
        <p>возраст : [%= whore.age %]</p>
        <p>размер груди : [%= whore.boobs %]</p>
        <p>вес : [%= whore.weight %] кг</p>
        <p>рост : [%= whore.height %] см</p>
        <p>классический секс : [% if (whore.skils.base_classic) { %]
                        да 
                    [% } else { %]
                        нет
                    [% } %]
        </p>
        <p>анал : [% if (whore.skils.base_anal) { %]
                        да 
                    [% } else { %]
                        нет
                    [% } %]
        </p>
        <p>без призерватива : [% if (whore.skils.extra_without_condom) { %]
                        да 
                    [% } else { %]
                        нет
                    [% } %]
        </p>
        <p>глубокий минет : [% if (whore.skils.extra_deep_throat) { %]
                        да 
                    [% } else { %]
                        нет
                    [% } %]
        </p>
        <p>номер телефон: [%= whore.phone %]</p>
        <p>выезд : [%= whore.can_come %]</p>
        <p>цена за час : [%= whore.price.hour %]</p>
        <p>цена за два часа : [%= whore.price.two_hours %]</p>
        <p>цена за ночь : [%= whore.price.night %]</p>
        <p>о себе : [%= whore.teaser %]</p>
    </article>

    <aside id="random">
        <h2>Случайные</h2>

        [% for(var i=0; i<random_whores.length; i++) {%]
        <article>
            <a href="/whores/[%= random_whores[i].id %]" title="[%= random_whores[i].name %]">[%= random_whores[i].name %]</a>
        </article>
        [% } %]
    </aside>
</body>
</html>