<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <article id="whore">
        <img src="http://placehold.it/350x150" alt="[%= whore.name %]" />
        <h1>[%= whore.name %]</h1>
        <p>возраст : [%= whore.age %]</p>
        <p>размер груди : [%= whore.boobs %]</p>
        <p>вес : [%= whore.weight %] кг</p>
        <p>рост : [%= whore.height %] см</p>
        <p>[%= whore.skils %]</p>
        <p>номер телефон: [%= whore.phone %]</p>
        <p>выезд : [%= whore.can_come %]</p>
        <p>цена : [%= whore.price %]</p>
        <p>о себе : [%= whore.teaser %]</p>
    </article>

    <aside id="related">
        <h2>Подруги</h2>

        [% for(var i=0; i<related_whores.length; i++) {%]
        <article>
            <a href="/whores/[%= related_whores[i].id %]" title="[%= related_whores[i].name %]">[%= related_whores[i].name %]</a>
        </article>
        [% } %]
    </aside>

</body>
</html>